<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base :: head}"></head>

    <body>
        <div th:replace="~{base :: logo}"></div>
        <div class="container">

            <div th:replace="~{base :: titulo('Novo Pedido')}"></div>

            <div class="card mt-3">
                <!--/*@thymesVar id="requisicaoNovoPedido" type="br.com.alura.mvc.mudi.dto.RequisicaoNovoPedido"*/-->
                <form th:object="${requisicaoNovoPedido}" class="mb-3 card-body" action="/pedido/novo" method="POST">

                    <div class="form-group mb-0">
                        <label>Produto</label>
                        <input th:field="*{nomeProduto}"
                               th:errorclass="is-invalid"
                               name="nomeProduto"
                               id="nomeProduto"
                               class="form-control"
                               placeholder="Nome do produto"/>
                    </div>
                    <div class="invalid-feedback d-block mb-3" th:errors="*{nomeProduto}"></div>

                    <div class="form-group mb-0">
                        <label for="urlProduto">URL</label>
                        <input th:field="*{urlProduto}"
                               th:errorclass="is-invalid"
                               name="urlProduto"
                               id="urlProduto"
                               class="form-control"
                               placeholder="URL do produto"/>
                    </div>
                    <div class="invalid-feedback d-block mb-3"  th:errors="*{urlProduto}"></div>

                    <div class="form-group mb-0">
                        <label for="urlImagem">Imagem</label>
                        <input th:field="*{urlImagem}"
                               th:errorclass="is-invalid"
                               name="urlImagem" id="urlImagem"
                               class="form-control"
                               placeholder="URL da imagem"/>
                    </div>
                    <div class="invalid-feedback d-block mb-3"
                         th:errors="*{urlImagem}"></div>

                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea th:field="*{descricao}"
                                  name="descricao"
                                  class="form-control"
                                  id="descricao"
                                  placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Cadastrar</button>

                </form>
            </div>
        </div>
    </body>
</html>